#calendar {
    width: 50vw;
    position: relative;
    left: 20%;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    min-height: 3rem;
}

.empty {
    background-color: #eee;
}
