#calendar {
    width: 35vw;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px solid beige;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.day, .header, .empty {
    box-sizing: border-box;
    border: 1px solid #ccc;
    aspect-ratio: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.day:hover {
    background-color: red;
}

.header {
    background-color: gray;
}

.empty {
    background-color: #eee;
}

.row {
    display: flex;
    width: 100%;
}

.row #monthYear {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    white-space: nowrap;
}

.row button {
    padding: 2% 4%;
}

.left {
    margin-left: 10%;
}
.right {
    margin-right: 10%;
}

.event {
    width: 100%;
    background-color: green;
}

.form {
    display: none;
}

.day.event {
    background-color: green;
}

